<div id="conversa-corpo"><div id="conversa-container"></div></div>

<%- contentFor("styles") %>
<style type="text/css">
	#conversa-corpo {
		padding: 0 15px 15px;
	}

	#conversa-container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.mensagem {
		text-align: left;
		display: inline-block;
		min-width: 150px;
		max-width: 450px;
		border-style: solid;
		margin: 15px 0 0;
	}

	.mensagem-container {
		border-radius: 0 0 8px 8px;
		padding: 0 10px 10px;
	}

		.mensagem-container > h1, .mensagem-container > p {
			font-size: 14px;
			margin: 0 0 5px;
		}

		.mensagem-container > h1 {
			font-weight: bold;
		}

		.mensagem-container > p {
			white-space: pre-wrap;
		}

		.mensagem-container > div {
			text-align: right;
			font-weight: bold;
			font-size: 10px;
		}

		.mensagem-container > a {
			display: block;
			margin: 10px 0 0;
			padding: 10px 0;
		}

		.mensagem-container:not(.ativo) > a {
			color: inherit;
			cursor: text;
		}

	.mensagem-outro {
		color: #333;
		border-radius: 0 8px 8px 8px;
		border-color: #fff transparent transparent;
		border-width: 10px 0 0 10px;
	}

		.mensagem-outro > .mensagem-container {
			background-color: #fff;
		}

	.mensagem-eu {
		color: #000;
		border-radius: 8px 0 8px 8px;
		margin-left: auto;
		border-color: #dcf8c6 transparent transparent;
		border-width: 10px 10px 0 0;
	}

		.mensagem-eu > .mensagem-container {
			background-color: #dcf8c6;
		}

	.mensagem-eu.espera {
		border-color: #f5f5f5 transparent transparent;
	}

		.mensagem-eu.espera > .mensagem-container {
			background-color: #f5f5f5;
		}

	.mensagem-eu-img {
		display: none;
	}

	.mensagem.erro {
		border-color: #f8c6c6 transparent transparent;
	}

		.mensagem.erro > .mensagem-container {
			background-color: #f8c6c6;
		}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	"use strict";

	var $conversaContainer = $("#conversa-container"),
		nomebot = "InformaSUS Bot",
		opcoesAtuais = [],
		idconversa = encodeURIComponent("<%- idconversa %>"),
		conversa = {
			resposta: "Olá! 😊",
			opcoes: [
				{
					item: "Item 1",
					resposta: "Resposta 1",
					opcoes: [
						{
							item: "Item 1.1",
							resposta: "Resposta 1.1",
							opcoes: [
								{
									item: "Item 1.1.1",
									resposta: "Resposta 1.1.1"
								},
								{
									item: "Item 1.1.2",
									resposta: "Resposta 1.1.2"
								},
								{
									item: "Item 1.1.3",
									resposta: "Resposta 1.1.3"
								},
							]
						},
						{
							item: "Item 1.2",
							resposta: "Resposta 1.2"
						},
						{
							item: "Item 1.3",
							resposta: 'Resposta 1.3<br/><a href="http://uol.com.br">Clique aqui!</a>'
						},
					]
				},
				{
					item: "Item 2",
					resposta: "Resposta 2",
					opcoes: [
						{
							item: "Item 2.1",
							resposta: "Resposta 2.1"
						},
						{
							item: "Item 2.2",
							resposta: "Resposta 2.2"
						},
					]
				},
				{
					item: "Item 3",
					resposta: "Resposta 3"
				},
			]
		};

	function agora() {
		var d = new Date();
		return format2(d.getHours()) + ":" + format2(d.getMinutes());
	}

	function adicionarMensagemOpcoes(titulo, opcoes, nome) {
		var html = '<div><div class="mensagem mensagem-outro"><div class="mensagem-container ativo"><h1>' + encode(nome) + '</h1>';

		if (titulo && (titulo = trim(titulo)))
			html += '<p>' + titulo + '</p>';

		for (var i = 0; i < opcoes.length; i++) {
			if (opcoes[i].item && (opcoes[i].item = trim(opcoes[i].item))) {
				html += '<a href="#" class="link-opcao" onclick="enviarMensagem(this, ' + i + '); return false;">' + opcoes[i].item + '</a>';
			}
		}
		
		html += '<div>' + agora() + '</div></div></div></div>';

		var $div = $(html);

		$conversaContainer.append($div);

		if ($div[0] && parseInt($div[0].offsetTop) >= 0)
			window.scrollTo(0, $div[0].offsetTop);
		else
			window.scrollTo(0, document.body.scrollHeight);

		return $div;
	}
	function enviarMensagem(link, indiceOpcao) {
		if ($.active ||
			!$(link.parentNode).hasClass("ativo") ||
			!opcoesAtuais ||
			indiceOpcao < 0 ||
			indiceOpcao >= opcoesAtuais.length ||
			!opcoesAtuais[indiceOpcao].item ||
			!(opcoesAtuais[indiceOpcao].item = trim(opcoesAtuais[indiceOpcao].item)))
			return;

		Notification.wait();

		$("div.mensagem-container.ativo").removeClass("ativo").find("a").removeAttr("href");

		var $msg = adicionarMensagem(opcoesAtuais[indiceOpcao].item);

		$.ajax({
			url: "<%- root %>/api/bot/enviarMensagem?idconversa=" + idconversa,
			method: "post",
			data: JSON.stringify({ mensagem: opcoesAtuais[indiceOpcao].item }),
			contentType: "application/json",
			processData: false,
			success: function (dados) {
				Notification.hide();
				$msg.find("img").remove();
				$msg.find(".mensagem-eu").removeClass("espera");
				adicionarMensagem(opcoesAtuais[indiceOpcao], nomebot);
			},
			error: function () {
				$msg.find("img").remove();
				$msg.find(".mensagem-eu").removeClass("espera").addClass("erro");
				Notification.error("Algo deu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
			}
		});
	}

	adicionarMensagem(conversa, nomebot);

</script>
