
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Chat</div>
			<div class="panel-body no-bottom">
				<div class="form-group">
					<label for="nome">Nome</label>
					<textarea id="texto" name="texto" class="form-control" style="font-family: monospace; resize: vertical;" rows="20" type="text" spellcheck="false"><%= texto %></textarea>
				</div>
			</div>
			<div class="panel-footer">
				<input value="Salvar Alterações" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">	

	var editor = CodeMirror.fromTextArea(document.getElementById("texto"),{
		mode : "javascript"
	});


	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			texto: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.postFormData("<%- root %>/api/texto/alterar", form, function (response) {
				if (response.success)
					Notification.success("Conteúdo do chat alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});
		}
	});
	//]]>
</script>
